beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
idna==3.10
imageio==2.36.1
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
lazy_loader==0.4
MarkupSafe==3.0.2
networkx==3.4.2
numpy==2.2.1
packaging==24.2
pillow==11.1.0
requests==2.32.3
scikit-image==0.25.0
scikit-learn==1.6.0
scipy==1.15.0
soupsieve==2.6
threadpoolctl==3.5.0
tifffile==2024.12.12
urllib3==2.3.0
Werkzeug==3.1.3
